extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Timofey S. Ivanov

        p.lead.text-light
          | Computer Science student

        .portfolio-bio
          p
          |I am student at Community School of Naples, and currently enrolled as a student at PolyTechnic university

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Python
          li C#/Java
          li Javascript
          li HTML/CSS
          li Numpy, TensorFlow 2.0 
          li Keras, Pandas
          li MatplotLib, Sklearn
          li Probability and Statistics
          li React.js
          li React Redux
          li Data Modeling and Evaluation
          li Machine Learning Algorithms

        h6 Contact Info

        ul
          li 	t.ivanov.work@gmail.com

        a.button.expanded(href='https://github.com/TimofeySIvanov') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
